AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID_EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AZURE_CLIENT_SECRET="this-is-a-fake-client-secret-value"
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nFAKEKEYONLYFORTESTS\n-----END RSA PRIVATE KEY-----"
